{% extends 'base.html' %}
{% block main %}
    <div class="main-container">
        <div class="myDivFooter">
            <h1>Welcome to Profee Investment Manager</h1>
            <p>Profee Investment Manager is a powerful tool for controlling your investment portfolios. With our platform, you can easily track your investments, analyze market trends, and make informed decisions.</p>
            <p>Whether you're a seasoned investor or just starting out, Profee Investment Manager has everything you need to succeed in the world of finance.</p>
            <div class="features">
            <div class="feature">
                <h2>Track Your Investments</h2>
                <p>Easily monitor your investment portfolios and keep track of your assets with our intuitive interface.</p>
            </div>
            <div class="feature">
                <h2>Analyze Market Trends</h2>
                <p>Stay ahead of the curve by analyzing market trends and identifying potential opportunities for growth.</p>
            </div>
            <div class="feature">
                <h2>Make Informed Decisions</h2>
                <p>Access valuable insights and data to make informed decisions about your investments and financial future.</p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}